<!doctype html>
<html lang="es">
    <head>
        <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
        <script src="../bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <title>ProgrammerPancho</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <main>
            <section>
                <h1>REGISTRO DE EQUIPOS</h1>
                <form action="/equipos/save" method="post">
                    <div>
                        <fieldset>
                            <legend>Datos del equipo</legend>
                               <label>Número de asesor:</label>
                               <input type="number" name="asesor" required>
                               <br>
                               <label>Número de control del integrante no. 1:</label>
                               <input type="number" name="integrante1" required>
                               <br>
                               <label>Número de control del integrante no. 2:</label>
                               <input type="number" name="integrante2" required>
                               <br>
                               <label>Número de control del integrante no. 3:</label>
                               <input type="number" name="integrante3" required>
                               <br>
                               <label>Nombre del equipo:</label>
                               <input type="text" name="nombre" required>
                               <br>
                               <label>Número de la categoría:</label>
                               <input type="number" name="idCategoria" required>
                               <br>
                               <label>Puntos:</label>
                               <input type="number" name="puntos" required>
                               <br>
                               <label>Problemas resueltos:</label>
                               <input class="form-control" type="text" name="problemasResueltos" required>
                               <br>
                            <button type="reset">Limpiar</button>
                            <button type="submit">Guardar</button>
                        </fieldset>
                    </div>
                </form>
                <a href="javascript: history.go(-1)">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Yoryii
        </footer>
    </body>
</html> 