<!doctype html>
<html lang="es">
<head>
    <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ProgrammerPancho</title>
</head>
<body>
    <header>
        INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
    </header>
    <main>
        <section>
            <h1>REGISTRO DE USUARIOS</h1>
            <form onsubmit="return validar(this)" action="/usuarios/modificar" method="post">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>Datos del usuario</legend>

                        <label>ID usuario:</label>
                        <input type="number" name="idUsuario" value="{{usuario.idUsuario}}" required readonly>
                        <br>

                        <label>Nombre:</label>
                        <input type="text" name="nombre" value="{{usuario.nombre}}" required>
                        <br>

                        <label>Sexo:</label>
                        <input type="text" name="sexo" value="{{usuario.sexo}}" placeholder="H ó M" required>
                        <br>

                        <label>Teléfono:</label>
                        <input type="text" name="telefono" value="{{usuario.telefono}}" required>
                        <br>

                        <label>Email:</label>
                        <input type="email" name="email" value="{{usuario.email}}" required>
                        <br>

                        <label>Estatus:</label>
                        <input type="text" name="estatus" placeholder="Activo ó Inactivo" value="{{usuario.estatus}}" required>
                        <br>

                        <label>Tipo:</label>
                        <input type="text" name="tipo" placeholder="D, A ó C" value="{{usuario.tipo}}" required>
                        <br>

                        <label>Contraseña:</label>
                        <input type="password" name="contraseña" value="{{usuario.contraseña}}" required>
                        <br>

                        <button type="submit">Guardar</button>
                        <div id="notificaciones"></div>
                    </fieldset>
                    </div>
                 </form>
            <a href="javascript: history.go(-1)">Regresar</a>
        </section>
    </main>
    <footer>
        Elaborado por Francisco Hdez
    </footer>
</body>
</html> 