<!doctype html>
<html lang="es">
    <head>
        <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
        <script src="{{url_for('static',filename='JS/Alumno.js')}}"></script>
        <meta charset="UTF-8">
        <title>ProgrammerPancho</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <main>
            <section>
                <h1>REGISTRO DE ALUMNOS</h1>
                <form onsubmit="return validar(this)" action="/alumnos/save" method="post">
                    <div id="datosPersonales">
                        <fieldset>
                            <legend>Datos del alumno</legend>

                               <label>Número de control:</label>
                               <input type="number" name="noControl" required>
                               <br>
                               <label>Número de usuario:</label>
                               <input type="number" name="idUsuario" required>
                               <br>
                               <label>Número de carrera:</label>
                               <input type="number" name="idCarrera" required>
                               <br>
                               <label>Semestre:</label>
                               <input type="number" name="semestre" required>
                               <br>
                            <button type="reset">Limpiar</button>
                            <button type="submit">Guardar</button>
                            <div id="notificaciones"></div>
                        </fieldset>
                    </div>
                </form>
                <a href="javascript: history.go(-1)">Regresar</a>
            </section>
        </main>
        <footer>
            Elaborado por Yoryii
        </footer>
    </body>
</html> 