<!doctype html>
<html lang="es">
<head>
    <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
    <script src="../bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Alumno</title>
</head>

<body>
    <h1>Alumnos</h1>
    <p>Lista de alumnos</p>
    <a href="alumnos/new"><img src="{{url_for('static',filename='Imagenes/add.gif')}}">Registrar alumno</a>
    <table border="1">
        <th>No. Control</th>
        <th>No. Usuario</th>
        <th>No. Carrera</th>
        <th>Semestre</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        <tr>
            <td>1</td>
            <td>6</td>
            <td>2</td>
            <td>7</td>
            <td><a href="/alumnos/edit"><img src="{{url_for('static',filename='Imagenes/editar.png')}}"></a></td>
            <td><a href="/alumnos/delete"><img src="{{url_for('static',filename='Imagenes/eliminar.png')}}"></a></td>
        </tr>
    </table>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
        Elaborado por Yoryii
    </footer>
</body>
</html>