<!doctype html>
<html lang="es">
    <head>
        <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
        <script src="{{url_for('static',filename='JS/Alumno.js')}}"></script>
        <meta charset="UTF-8">
        <title>Programmer Pancho</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <main>
            <section>
                <h1>MODIFICACIÓN ALUMNO</h1>
                <form onsubmit="return validar(this)" action="/alumnos/modificar" method="post">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>Modificar Datos</legend>
                       
                           <label>Número de control:</label>
                           <input type="number" name="noControl" value="{{alumno.noControl}}" required readonly>
                           <br>
                           <label>Número de usuario:</label>
                           <input type="number" name="idUsuario" value="{{alumno.idUsuario}}" required>
                           <br>
                           <label>Número de carrera:</label>
                           <input type="number" name="idCarrera" value="{{alumno.idCarrera}}" required>
                           <br>
                           <label>Semestre</label>
                           <input type="number" name="semestre" value="{{alumno.semestre}}" required>
                           <br>
                           <button type="submit">Guardar</button>
                           <button>Cancelar</button>
                           <div id="notificaciones"></div>
                    </fieldset>
                </div>
                </form>
                <a href="javascript: history.go(-1)">Regresar</a>
            </section>

        </main>

        <footer>
            Elaborado por Yoryii
        </footer>
    </body>
</html>