<!doctype html>
<html lang="es">
<head>
    <link href="{{url_for('static',filename='CSS/estilo.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='JS/global.js')}}"></script>
    <meta charset="UTF-8">
    <title>DOCENTES</title>
</head>
<nav>
    <h1>Docentes</h1>
</nav>
<body>
    <p>Lista de Docentes</p>
    <a href="/docentes/new"><img src="{{url_for('static',filename='Imagenes/add.gif')}}">Registrar Docente</a>
    <table border="5">
        <th>ID docente</th>
        <th>ID usuario</th>
        <th>Escolaridad</th>
        <th>Especialidad</th>
        <th>Cédula</th>
        <th>ID carrera</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        {% for d in docentes %}
                <tr>
                    <td>{{d.idDocente}}</td>
                    <td>{{d.idUsuario}}</td>
                    <td>{{d.escolaridad}}</td>
                    <td>{{d.especialidad}}</td>
                    <td>{{d.cedula}}</td>
                    <td>{{d.idCarrera}}</td>
                    <td><a href="/docentes/edit/{{d.idDocente}}"><img src="{{url_for('static',filename='Imagenes/editar.png')}}"></a></td>
                    <td><a href="javascript:eliminarDocente({{d.idDocente}})"><img src="{{url_for('static',filename='Imagenes/eliminar.png')}}"></a></td>
                </tr>
        {% endfor %}
    </table>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
        <b>
            <b>
                Elaborado por Francisco Hdez
    </footer>
</body>
</html>